exclude: (vendor|dist)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: name-tests-test
        args: ['--pytest-test-first']
        exclude: ^tests/helpers/
      - id: trailing-whitespace
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        additional_dependencies: ['cz-nhm']
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: npm
        args: [ 'run', 'tidy:format' ]
        types_or: [ javascript, vue, less, sass, scss, css ]
      - id: eslint
        name: eslint
        language: node
        entry: npm
        args: ['run', 'tidy:lint']
        types: [file]
