@import '../../styles/palette';
@import '../../styles/fonts';
@import '../../styles/vars';

.input {
  -webkit-appearance: none;
  background: white;
  color: $dark;
  border: 1px solid $grey;
  border-radius: $rounding;
  padding: $padding;
  width: 100%;

  &:disabled {
    color: $grey;
  }
}

.inputWrapper {
  grid-area: input;
}

@mixin disabled {
  cursor: default;
  position: relative;

  & input {
    cursor: default;
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: $rounding;
    background-color: #eeeeee99;
  }
}
