@import '../../styles/palette';
@import '../../styles/fonts';
@import '../../styles/vars';

.input {
  -webkit-appearance: none;
  background: white;
  color: $dark;
  border: 1px solid $grey;
  border-radius: $rounding;
  padding: $padding;
  width: 100%;

  &:disabled {
    color: $grey;
  }
}

.label {
  @include header-font;
  font-size: 0.9em;

  &.label--right,
  &.label--below {
    order: 2;
  }

  &.label--above,
  &.label--below {
    padding: 0 $h-pad;
  }
}

.grid {
  display: grid;
  align-items: center;
  gap: $label-gap;

  &.grid--above,
  &.grid--below {
    grid-template-rows: auto auto;
  }

  &.grid--left {
    grid-template-columns: auto 1fr;
  }

  &.grid--right {
    grid-template-columns: 1fr auto;
  }
}
