@use '../../styles/palette';
@use '../../styles/fonts';
@use '../../styles/vars';

.input {
  -webkit-appearance: none;
  background: white;
  color: palette.$black;
  border: 1px solid palette.$grey-200;
  border-radius: vars.$rounding;
  padding: vars.$padding;
  width: 100%;

  &:disabled {
    color: palette.$grey-200;
  }
}

.inputWrapper {
  grid-area: input;
}

@mixin disabled {
  cursor: default;
  position: relative;

  & input {
    cursor: default;
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: vars.$rounding;
    background-color: #eeeeee99;
  }
}
