@use 'palette';
@use 'vars';
@use 'sass:map';

@mixin sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin media-less-than($breakpoint) {
  @media (max-width: map.get(vars.$breakpoints, $breakpoint) - 1) {
    @content;
  }
}

@mixin media-from($breakpoint) {
  @media (min-width: map.get(vars.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-between($breakpoint-start, $breakpoint-end) {
  @media (min-width: map.get(vars.$breakpoints, $breakpoint-start)) and (max-width: map.get(vars.$breakpoints, $breakpoint-end) - 1) {
    @content;
  }
}

@mixin focus-outline($colour: palette.$black) {
  outline: 2px solid transparent;

  &:focus {
    outline-offset: 3px;
    outline-color: $colour;
  }
}
