$primary: var(--zoa-palette-primary, #fcb47e);
$secondary: var(--zoa-palette-secondary, #00755f);
$dark: var(--zoa-palette-dark, #532200);
$light: var(--zoa-palette-light, #dfe0df);

$primary-a: var(--zoa-palette-primary-a, #535b7b);
$primary-b: var(--zoa-palette-primary-b, #ffbfbe);

$secondary-a: var(--zoa-palette-secondary-a, #235161);
$secondary-b: var(--zoa-palette-secondary-b, #d0ee8d);

$dark-a: var(--zoa-palette-dark-a, #37405b);
$dark-b: var(--zoa-palette-dark-b, #ed8578);

$light-a: var(--zoa-palette-light-a, #d4e5ed);
$light-b: var(--zoa-palette-light-b, #cbe2d8);
