$white: var(--zoa-palette-white, #ffffff);
$off-white: var(--zoa-palette-off-white, #f3f3f3);
$grey-300: var(--zoa-palette-grey-300, #5e7075);
$grey-200: var(--zoa-palette-grey-200, #87999e);
$grey-100: var(--zoa-palette-grey-100, #b7c9ce);
$black: var(--zoa-palette-black, #191919);

$primary: var(--zoa-palette-primary, #c9f708);
$primary-hover: var(--zoa-palette-primary-hover, #afdd00);
$primary-focus: var(--zoa-palette-primary-focus, #96c400);
$primary-disabled: var(--zoa-palette-primary-disabled, #608e00);
$primary-text: var(--zoa-palette-primary-text, #290340);

$secondary: var(--zoa-palette-secondary, #f2bab0);
$secondary-hover: var(--zoa-palette-secondary-hover, #dba399);
$secondary-focus: var(--zoa-palette-secondary-focus, #c78f85);
$secondary-disabled: var(--zoa-palette-secondary-disabled, #965e54);
$secondary-text: var(--zoa-palette-secondary-text, #191919);

$tertiary: var(--zoa-palette-tertiary, #290340);
$tertiary-hover: var(--zoa-palette-tertiary-hover, #3e1c53);
$tertiary-focus: var(--zoa-palette-tertiary-focus, #523364);
$tertiary-disabled: var(--zoa-palette-tertiary-disabled, #765e85);
$tertiary-text: var(--zoa-palette-tertiary-text, #ffffff);

$info: var(--zoa-palette-info, #0dedf7);
$info-border: var(--zoa-palette-info-border, #00848e);
$info-text: var(--zoa-palette-info-text, #191919);
$warning: var(--zoa-palette-warning, #ffe600);
$warning-border: var(--zoa-palette-warning-border, #8e7600);
$warning-text: var(--zoa-palette-warning-text, #191919);
$error: var(--zoa-palette-error, #ff5957);
$error-border: var(--zoa-palette-error-border, #910000);
$error-text: var(--zoa-palette-error-text, #191919);
$success: var(--zoa-palette-success, #45c345);
$success-border: var(--zoa-palette-success-border, #006800);
$success-text: var(--zoa-palette-success-text, #191919);
