$v-pad: var(--zoa-pad-v, 0.75rem);
$h-pad: var(--zoa-pad-h, 1.5rem);
$padding: $v-pad $h-pad;
$half-pad: calc($v-pad / 2) calc($h-pad / 2);
$box-padding: 20px;
$label-v-gap: var(--zoa-label-gap-v, 2px);
$label-h-gap: var(--zoa-label-gap-h, $h-pad);
$label-gap: $label-v-gap $label-h-gap;

$rounding: var(--zoa-rounding, 4px);
$rounding-button: var(--zoa-rounding-button, 24px);
$rounding-full: var(--zoa-rounding-full, 9999px);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
) !default;
