@use 'sass:map';

$v-pad: var(--zoa-pad-v, 8px);
$h-pad: var(--zoa-pad-h, 16px);
$padding: $v-pad $h-pad;
$half-pad: calc($v-pad / 2) calc($h-pad / 2);
$box-padding: 20px;
$label-v-gap: var(--zoa-label-gap-v, 2px);
$label-h-gap: var(--zoa-label-gap-h, $h-pad);
$label-gap: $label-v-gap $label-h-gap;

$rounding: var(--zoa-rounding, 10px);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
) !default;

@mixin media-less-than($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint) - 1) {
    @content;
  }
}

@mixin media-from($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-between($breakpoint-start, $breakpoint-end) {
  @media (min-width: map.get($breakpoints, $breakpoint-start)) and (max-width: map.get($breakpoints, $breakpoint-end) - 1) {
    @content;
  }
}

@mixin sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
