@import 'palette';
@import 'fonts';

.button {
  font-family: $body-font;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em 0.6em;
  transition: 0.2s;
  cursor: pointer;
}

.button-kind--normal {
  background-color: $light;
  color: black;

  &:hover,
  &:focus,
  &:active {
    background-color: $light-a;
  }
}

.button-kind--primary {
  background-color: $secondary;
  color: white;

  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-a;
  }
}
