@import '../../../styles/palette';
@import '../../../styles/fonts';
@import '../../../styles/vars';

.button {
  font-family: $header-font;
  font-weight: 600;
  border: none;
  border-radius: $rounding;
  padding: $padding;
  transition: 0.2s;
  cursor: pointer;
}

.button-kind--normal {
  background-color: $secondary;
  color: black;

  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-b;
  }
}

.button-kind--primary {
  background-color: $primary;
  color: black;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-b;
    color: black;
  }
}
