@use '../../styles/palette';
@use '../../styles/fonts';
@use '../../styles/vars';

.main {
  border-width: 2px;
  border-style: solid;
  border-radius: vars.$rounding;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 15px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'icon text button';
  gap: 10px;
  align-items: center;
  padding: vars.$box-padding;
  border-radius: vars.$rounding vars.$rounding 0 0;

  & .icon {
    grid-area: icon;
    padding-top: 2px;
  }

  & .headerText {
    grid-area: text;
  }
}

.content {
  background: #fff;
  padding: 0 vars.$box-padding vars.$box-padding;
  border-radius: 0 0 vars.$rounding vars.$rounding;
}

.kind--info {
  border-color: palette.$info-border;

  .header {
    background: palette.$info;
    color: palette.$info-text;
  }

  .icon {
    color: palette.$info-border;
  }
}

.kind--warning {
  border-color: palette.$warning-border;

  .header {
    background: palette.$warning;
    color: palette.$warning-text;
  }

  .icon {
    color: palette.$warning-border;
  }
}

.kind--error {
  border-color: palette.$error-border;

  .header {
    background: palette.$error;
    color: palette.$error-text;
  }

  .icon {
    color: palette.$error-border;
  }
}

.kind--success {
  border-color: palette.$success-border;

  .header {
    background: palette.$success;
    color: palette.$success-text;
  }

  .icon {
    color: palette.$success-border;
  }
}
