@import '../../styles/palette';
@import '../../styles/fonts';
@import '../../styles/vars';

.main {
  border-width: 1px;
  border-style: solid;
  border-radius: $rounding;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 15px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'icon text button';
  gap: 10px;
  align-items: center;
  padding: $box-padding;
  border-radius: $rounding $rounding 0 0;

  & .icon {
    grid-area: icon;
    padding-top: 2px;
  }

  & .headerText {
    grid-area: text;
  }
}

.content {
  background: #fff;
  padding: 0 $box-padding $box-padding;
  border-radius: 0 0 $rounding $rounding;
}

.kind--info {
  border-color: $info-dark;

  .header {
    background: $info-light;
  }

  .icon {
    color: $info-dark;
  }
}

.kind--warning {
  border-color: $warning-dark;

  .header {
    background: $warning-light;
  }

  .icon {
    color: $warning-dark;
  }
}

.kind--error {
  border-color: $error-dark;

  .header {
    background: $error-light;
  }

  .icon {
    color: $error-dark;
  }
}

.kind--success {
  border-color: $success-dark;

  .header {
    background: $success-light;
  }

  .icon {
    color: $success-dark;
  }
}
