name: Build dist (patch)

on:
  push:
    branches:
      - patch

jobs:
  build-dist:
    name: Build dist package
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'chore(dist):')"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install packages
        run: npm install
      - name: Build
        run: npm run build
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: dist
          message: 'chore(dist): build dist package'
