name: Bump version

on:
  push:
    branches:
      - main

jobs:
  build-then-bump:
    name: Build dist package, bump version, create changelog
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install packages
        run: npm install
      - name: Build
        run: npm run build
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: dist
          message: 'chore(dist): build dist package'
          push: false
      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          changelog_increment_filename: CURRENT.md
          extra_requirements: 'cz-nhm'
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: 'CURRENT.md'
          tag_name: v${{ env.REVISION }}
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
